html {
	background-color:#EEE;
	color:#0B0B0B;
	font-family:-apple-system, system-ui, blinkmacsystemfont, Helvetica, sans-serif;
	font-weight:400;
}

a, strong {
	color:#0B0B0B;
	text-decoration:none;
	font-weight:400;
}

tr {
	text-align:left!important;
}

tr.project:hover {
	opacity:40%;
}

.right {
	text-align:right;
	float:right;
}
