:root {
    background-color:#FFF;
    color:#000;
    font-family:-apple-system, system-ui, BlinkMacSystemFont, Helvetica, sans-serif;
    font-weight:400;
    font-size:16px;
    line-height:125%;
    margin:1.25%;
}

a {
    text-decoration:none;
    color:#777;
}

a:hover {
    opacity:0.4;
}

.override {
    text-decoration:none;
    color:#000;
}

.override:hover {
    opacity:0.4;
}

.whitespace {
    margin-top:12.5%;
}

.final {
    text-align:right;
}

#bio {
    font-size:28px;
    line-height:112.5%;
}

ul {
    margin-top:0;
    list-style:none;
}

.start {
    color:#777;
    margin-bottom:10%;
}

.footer {
    margin-bottom:3.25%;
}
